
<div class="page-container login-container">

    <!-- Page content -->
    <div class="page-content" >
        <div class="content main-bg "  style="background-image: url('assets/img/login-bg.jpg');">
            <div class="login-form-section">
                <div class="form">
                    <form [formGroup]="loginForm">
                        <div class="panel panel-body login-form panel-form">
                            <div class="text-center">
                                <div class="icon-object border-warning-400 text-warning-400">
                                    <img src="assets/cal4care-logo-white.png" alt="">
                                </div>
                                <h2>Login to your account</h2>
                            </div>
                            <div class="inputBox">
                                <span>Username</span>
                                <input type="text" formControlName="username">
                                <!-- <i></i> -->
                                <div *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)"
                                    class="alert alert-danger alertdangerCustomCSS">
                                    Username is Required
                                </div>
                            </div>
                            <div class="inputBox">
                                <span>Password</span>
                                <input type="password" formControlName="password">
                                <!-- <i></i> -->
                                <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
                                    class="alert alert-danger alertdangerCustomCSS"> Password is Required
                                </div>
                            </div>
                            <div class="inputBox">
                                <span>Verify OTP</span>
                                <div>
                                    <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(1)' maxlength=1 >
                                    <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(2)' maxlength=1 >
                                    <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(3)' maxlength=1 >
                                    <input class="otp" type="text" oninput='digitValidate(this)'onkeyup='tabChange(4)' maxlength=1 >
                                </div>
                            </div>
                            <div class="links">
            
                            </div>
                            <input type="submit" value="Send OTP" >
                            <!-- <input type="submit" value="Login" (click)="userLogin()"> -->
                            <span class="help-block text-center no-margin">© 2022 cal4care ERP All Rights Reserved</span>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->

</div>

<!-- <div class="body">
    
</div> -->