.icon-object.border-warning-400.text-warning-400{border: none;margin: 0;}
.icon-object.border-warning-400.text-warning-400 img{height: 100px;}
.page-content{background-color: #37474f;}
button.btn.bg-blue.btn-block{background: #37474f;color: #fff;}

.panel {
    margin-bottom: 0px!important;
    height: 617px!important;

}

.login-container .content{padding: 0;}
.login-form-section form{
    height: 100vh;
    display: flex;
    align-items: center;
}


.main-bg {
    height: -webkit-fill-available;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0
}
.login-form-section{
    height: 100%;
    width: 350px;
    position: absolute;
    right: 0;
    padding: 0px;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #ddd;
}
.login-container .login-form{
    width: 100%;
}
.panel.panel-body.login-form{border:none;}
.login-container .login-form{margin: 0 0 0 0;width: 100%;}
.form-control-feedback{height: 42px;line-height: 42px;}
.form-control{height: 42px;}
@media only screen and (max-width: 992px){
    .login-form-section {
    position: unset;
    margin: 0 auto;
}
}