<div class="contents">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 mb-30">
        <div class="card">
          <div class="card-header color-dark fw-500">
            User Management
            <button type="button" class="btn btn-primary btn-default btn-squared" (click)="AddUserNavigation()">
              Add User
            </button>

          </div>
          <div class="card-body">


            <div class="userDatatable global-shadow border-0 bg-white w-100">
              <div class="table-responsive">
                <table class="table mb-0 table-borderless">
                  <thead>
                    <tr class="userDatatable-header">
                      <th>
                        <div class="d-flex align-items-center">
                          <div class="custom-checkbox  check-all">
                            <input class="checkbox" type="checkbox" id="check-3" (change)="selectAll($event)">
                            <label for="check-3">

                            </label>
                          </div>
                        </div>
                      </th>
                      <th style="display:none;">
                        <span class="userDatatable-title">User Name</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">S.No</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">Display Name</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">Last Name</span>
                      </th>

                      <th>
                        <span class="userDatatable-title">Designation</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">SMS</span>
                      </th>
                      <th>
                        <span class="userDatatable-title"> Phone Number</span>
                      </th>
                      <th>
                        <span class="userDatatable-title"> Email</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">Email-ID</span>
                      </th>

                      <th>
                        <span class="userDatatable-title">action</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let list of user_list; let i = index">
                      <td>
                        <div class="d-flex">
                          <div class="userDatatable__imgWrapper d-flex align-items-center">
                            <div class="checkbox-group-wrapper">
                              <div class="checkbox-group d-flex">
                                <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                  <input class="checkbox" type="checkbox" id="check-grp1-{{i}}"
                                    (change)="EditCHK(list.userId,$event)">
                                  <label for="check-grp1-{{i}}"></label>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </td>

                      <td style="display:none;">
                        {{ list.userName }}
                      </td>
                      <td>
                        <span>{{ i+1}}</span>
                      </td>
                      <td>
                        <span>{{ list.firstName }}</span>
                      </td>
                      <td>
                        <span>{{ list.lastName}}</span>
                      </td>

                      <td>
                        <span>{{ list.designation }}</span>
                      </td>
                      <td>
                        <span>{{ list.smsNotification }}</span>
                      </td>
                      <td>
                        <span>{{ list.phonenumber}}</span>
                      </td>
                      <td>
                        <span> {{ list.emailNotification }}</span>
                      </td>
                      <td>
                        <span>{{ list.emailId }}</span>
                      </td>


                      <td>

                        <div class="page">

                          <div class="dropdown">
                            <button class="btn1"><i class="fa fa-bars"></i></button>


                            <ul class="dropdown__list">
                              <li class="dropdown__item">
                                <a href="#" class="remove" title="View" data-toggle="modal"
                                  data-target="#viewCustomerFormId">

                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-activity">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="12" y1="16" x2="12" y2="12"></line>
                                    <line x1="12" y1="8" x2="12" y2="8"></line>
                                  </svg>
                                </a>
                              </li>
                              <li class="dropdown__item">
                                <a href="#" class="view" title="Delete" (click)="delete(list.userId)">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="green" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-delete"><path d="M21 4H8l-7 8 7 8h13a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"></path><line x1="18" y1="9" x2="12" y2="15"></line><line x1="12" y1="9" x2="18" y2="15"></line></svg>                                </a>
                              </li>
                              <li class="dropdown__item">
                                <a href="javascript:void(0)" class="remove" title="Edit" (click)="EditUserNavigation(list.userId)">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="green" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                </a>
                              </li>
                              <li class="dropdown__item" *ngIf="(list.staffStatus=='1')">
                                <a href="#" class="view" title="Enable" 
                                  (click)="userEnableDisable(list.userId)" >
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="green" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                                                                </a>
                              </li>
                              <li class="dropdown__item" *ngIf="(list.staffStatus=='0')" >
                                <a href="#" class="view" title="Disable" 
                                  (click)="userEnableDisable(list.userId)" >
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-x"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="18" y1="8" x2="23" y2="13"></line><line x1="23" y1="8" x2="18" y2="13"></line></svg>                                </a>
                              </li>

                              <li class="dropdown__item"  >
                                <a href="#" class="view" title="password reset" 
                                  (click)="passwordReset(list.userId)" >
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="green" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
                                                                </a>
                              </li>
                              <li class="dropdown__item"  >
                                <a href="#" class="view" title="Product Permission" 
                                data-toggle="modal"
                                data-target="#ProductPermissionID"
                                  (click)="ProductPermission(list.userId)" >
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="green" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                                </a>
                              </li>

                            </ul>
                          </div>

                        </div>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <nav class="atbd-page">
              <ul class="atbd-pagination d-flex">
                <li class="atbd-pagination__item">
                  <a href="#" class="atbd-pagination__link pagination-control"><span
                      class="la la-angle-left"></span></a>
                  <a href="#" class="atbd-pagination__link"><span class="page-number">1</span></a>
                  <a href="#" class="atbd-pagination__link active"><span class="page-number">2</span></a>
                  <a href="#" class="atbd-pagination__link"><span class="page-number">3</span></a>
                  <a href="#" class="atbd-pagination__link pagination-control"><span class="page-number">...</span></a>
                  <a href="#" class="atbd-pagination__link"><span class="page-number">12</span></a>
                  <a href="#" class="atbd-pagination__link pagination-control"><span
                      class="la la-angle-right"></span></a>
                  <a href="#" class="atbd-pagination__option"> </a>
                </li>
                <li class="atbd-pagination__item">
                  <div class="paging-option">
                    <select name="page-number" class="page-selection">
                      <option value="20">20/page</option>
                      <option value="40">40/page</option>
                      <option value="60">60/page</option>
                    </select>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!----------Modal Pop Up (BEGIN)  for password permission in user management------------------>
<div class="modal fade" id="ProductPermissionID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="invoiceAttachModalLongTitle">
                  Select Category and Product</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form >


                    <div class="form-group row">
                        <label for="temp1" class="col-lg-6 col-form-label">Template Name</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" formControlName="txt_templateName" id="temp1" />
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary">
                    Save
                </button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!----------Modal Pop Up (END)  for password permission in user management------------------->