<div class="contents">
    <form>
        <div class="col-lg-6">
            <div class="col-lg-12">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label for="attn" class="col-lg-12 col-form-label"> Display Name</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="attention" id="attn" />

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label for="attn" class="col-lg-12 col-form-label"> First Name</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="attention" id="attn" />

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label for="attn" class="col-lg-12 col-form-label"> Last Name</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="attention" id="attn" />

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label for="attn" class="col-lg-12 col-form-label"> User Name</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="attention" id="attn" />

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label for="attn" class="col-lg-12 col-form-label"> Password</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" formControlName="attention" id="attn" />

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label for="attn" class="col-lg-12 col-form-label"> Confirm Password</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" formControlName="attention" id="attn" />

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label for="attn" class="col-lg-12 col-form-label">  Password (Password Details)</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" formControlName="attention" id="attn" />

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label for="attn" class="col-lg-12 col-form-label"> Confirm Password(Password Details)</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" formControlName="attention" id="attn" />

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label for="attn" class="col-lg-12 col-form-label"> Department</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="attention" id="attn" />

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label for="attn" class="col-lg-12 col-form-label"> Designation</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="attention" id="attn" />

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label for="attn" class="col-lg-12 col-form-label"> FIN Number</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="attention" id="attn" />

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label for="attn" class="col-lg-12 col-form-label"> Bank Account Number</label>
                    </div>
                    <div class="col-lg-8">
                        <textarea class="form-control" row="4" style="height:200px ;"
                        formControlName="termConditionContentChange"></textarea>

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label for="attn" class="col-lg-12 col-form-label">Address</label>
                    </div>
                    <div class="col-lg-8">
                        <textarea class="form-control" row="4" style="height:200px ;"
                        formControlName="termConditionContentChange"></textarea>

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label for="attn" class="col-lg-12 col-form-label">DOB</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="date" class="form-control" formControlName="quotationDate" id="quot_date" />


                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label for="attn" class="col-lg-12 col-form-label"> Age</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="attention" id="attn" />

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label for="attn" class="col-lg-12 col-form-label"> Age</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" formControlName="attention" id="attn" />

                    </div>
                </div>
            </div>








            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>